<h1><%= @room.name %></h1>
<% if @room.tickets.last %>
  <h2>Ticket: <%= @room.current_ticket.title %></h2>
<% end %>

<%= form_tag "/tickets", method: :post do %>
  <%= label_tag :title, "Ticket identifier" %>
  <%= text_field_tag :title %>
  <%= hidden_field_tag :room_id, @room.id %>
  <%= submit_tag "Create new ticket" %>
<% end %>

<% if @room.tickets.last && !current_user.current_vote %>
  <h3>Vote</h3>
  <%= form_tag "/votes", method: :post do %>
    <%= label_tag :vote_value, "1" %>
    <%= radio_button_tag 'vote_value', '1' %>
    <%= label_tag :vote_value, "2" %>
    <%= radio_button_tag 'vote_value', '2' %>
    <%= label_tag :vote_value, "3" %>
    <%= radio_button_tag 'vote_value', '3' %>
    <%= label_tag :vote_value, "5" %>
    <%= radio_button_tag 'vote_value', '5' %>
    <%= label_tag :vote_value, "8" %>
    <%= radio_button_tag 'vote_value', '8' %>

    <%= hidden_field_tag :room_id, @room.id %>
    <%= hidden_field_tag :ticket_id, @room.current_ticket.id %>
    <%= submit_tag "Vote on ticket" %>
  <% end %>
<% end %>

<h3>Current Users in this room</h3>
<ul>
  <% @room.users.each do |user| %>
    <li><%= user.email %>
    <% if user.current_vote && @room.votes_count >= @room.users_count %>
        has voted - <%= user.current_vote.value %>
      <% end %>
      <% if user.current_vote && @room.votes_count < @room.users_count %>
        has voted - XXX
      <% end %>
    </li>
  <% end %>
</ul>
