<h1><%= @room.name %></h1>

<%= form_tag "/tickets", method: :post do %>
  <%= label_tag :title, "Ticket identifier" %>
  <%= text_field_tag :title %>
  <%= hidden_field_tag :room_id, @room.id %>
  <%= submit_tag "Create new ticket" %>
<% end %>

<div id="render-content">
  <%= render "content" %>
</div>

<div id="vote-menu">
  <%= render "vote_menu" %>
</div>

  <script>
setInterval(() => {
  window.fetch('/statuses/2').then(response => {
    response.json().then(data => {
      const renderTarget = document.getElementById('render-content')
      renderTarget.innerHTML = data.content

      const voteTitleElement = document.getElementById('vote-title')
      if (voteTitleElement && data.user_vote) {
        document.getElementById('vote-menu').innerHTML = data.vote_menu
      }

      if (!voteTitleElement && data.user_vote === false) {
        document.getElementById('vote-menu').innerHTML = data.vote_menu
      }
    })
  })
}, 1000)


  </script>
