<!DOCTYPE html>
<html>
  <head>
    <title>EstimationStation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="flash_message--notice"><%= notice %></p>
    <p class="flash_message--notice"><%= @notice %></p>
    <p class="flash_message--alert"><%= alert %></p>
    <p class="flash_message--alert"><%= @alert %></p>
    <% if current_user %>
      signed in as: <%= current_user.email %>
      <%= link_to "log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "sign_in", new_user_session_path %>
    <% end %>
    <%= link_to "room index", rooms_path %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
